[Desktop Entry]
Exec=/home/steve/Dev/voice-dictate/voice-dictate.sh
Name=Voice Dictate (toggle)
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
